.filters {
  max-width: 10rem;
  margin-top: 1em;
  padding-left: 1em;
}

::ng-deep {
  .mat-form-field-infix {
    background-color: hsl(310, 52%, 41%);
  }
  .mat-select-value,
  .mat-select-arrow,
  .mat-form-field-hide-placeholder .mat-select-placeholder,
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: wheat !important;
    opacity: 1;
  }

  .mat-form-field-infix {
    color: wheat !important;
    border-top: none;
    padding-left: 1rem !important;
  }
  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-left: 1rem;
  }

  .mat-form-field-appearance-legacy .mat-form-field-outline {
    background-color: wheat !important;
  }
}
.games {
  display: flex;
  max-width: 95%;
  margin: auto;
  height: 40em;
}

.game {
  width: 20em;
  height: 35em;
  margin: 0.7em;
  overflow: hidden;
  border-radius: 1em;

  &:hover {
    transform: translateY(-0.5em);
  }

  &-thumb-container {
    width: 3em;
    height: 5em;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  &-description {
    height: 5em;
    width: 5em;
  }
  &-platforms {
    width: 5em;
    height: 6em;
    display: flex;
    flex-direction: column;
  }
  &-name {
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
  }
  &-platforms {
    display: flex;
    flex-direction: column;
  }
  &-platform {
    width: 1em;
    margin-right: .5em auto;
  }
}
