.search {
  &-container {
    font-family: 'Nunito';
    width: 100%;
    height: 3rem;
    background-color: hsl(355, 67%, 38%);
    display: flex;
    align-items: center;  
    font-size: 16px;
  }
  &-form {
    margin-left: auto;
  }
  &-bar{
    border: none;
    outline: none;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    &:focus::placeholder {
      color: transparent;
    }
  }
  &-button {
    font-weight: 700;
    padding: auto;
    border: none;
    border-top-right-radius: 5em;
    border-bottom-right-radius: 5em;
    background-color: hsl(37, 72%, 62%);
    cursor: pointer;
    transition-duration: .3s;
    box-shadow: 0 .5px 1.5px hsl(37, 52%, 42%);
    color: hsl(355, 67%, 38%);

    &:hover{
      background-color: hsl(37, 82%, 42%);
    }
    &:active{
      transform: translateY(.3px);
    }
  }
}

.logo{
  margin-left: 1em;
  font-weight: 700;
  margin-right: auto;
  color: hsl(37, 72%, 82%);
  text-shadow:  1px 1px hsl(37, 52%, 32%);
}